<app-breadcrumb [title]="'Privacy Policy'" [breadcrumb]="'Privacy Policy'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col">
                <h1>Privacy Policy</h1>
                <p>Last updated: May 7, 2023</p>
                <p>In our quest to serve our customers better, Toosie Pharmacy Limited is dedicated to protecting your
                    personal information and shall make every endeavour to handle collected information appropriately.
                    All information collected shall be handled with care in accordance with the Nigeria Data Protection
                    Regulation 2019 alongside our standards of integrity, objectivity and respect for your privacy.
                </p>
                <p>This information applies to the processing of data on our website and software application (herein
                    referred to as site and app respectively), the purposes of processing, the recipients, legal bases,
                    storage periods and your rights. Processing simply means collection, use, storage and transmission.
                </p>
                <p>Unless specified otherwise, all Data requested are mandatory and failure to provide this Data may
                    make it impossible to access services. In instances where it is specifically stated that Data
                    provision isn’t mandatory, the User or accessor of the app or site has the sole discretion not to
                    divulge such Data.
                </p>
                <p>Any use of cookies or other tracking tools by the app or site or by owner of third party services
                    used by this application serves the purposes of providing the service required by the user. For
                    information on cookies, <a href="#cookies">please read our policy on cookies</a></p>
                <h3><a href="#erasure">DATA STORAGE TIME AND ERASURE</a>
                </h3>
                <p>Users or assessors of the app or site are responsible for Data provided to any third party such
                    personal Data obtained, published or shared through this app or site and confirm that they have
                    granted such consent to the third party where applicable.</p>
                <p>Personal data collected shall be processed and stored for as long as possible for which they were
                    collected for. The personal Data of the user shall be erased or processing restricted as soon as the
                    purpose of storage ceases to apply, although certain data might be stored to ensure easy access to
                    services subject to consent and the Data Protection Regulation. Though further storage shall be
                    possible if necessary, the IP addresses of users shall be deleted or made unidentifiable so as to
                    make the identification of the user no longer possible. Generally, any data collected by us not
                    needed shall not be kept beyond twelve months and a day.
                </p>
                <h3><a href="#desc">DESCRIPTION AND EXTENT OF DATA PROCESSING</a>
                </h3>
                <p>Each time you access our site or use our app, we as the data controller, collect data automatically
                    from the accessing device/ terminal being used. Information collected are;
                </p>
                <ol>
                    <li>Information about the browser type and version</li>
                    <li>The operating system of the accessing device.
                    </li>
                    <li>The IP address of the accessing device.
                    </li>
                    <li>Date and time of access.
                    </li>
                    <li>Websites from where the user accesses our site.
                    </li>
                    <li>Contact details of user or assessor of the app or site.
                    </li>
                    <li> Identification of user or assessor of the app or site.</li>
                </ol>
                <p>In addition, due to the devices (terminals), applications, tools, protocols used by the user or
                    assessor, they might be linked to online identifiers such as IP addresses, login trackers (Cookies)
                    and other user identifiers. These identifiers can leave traces which may especially if combined with
                    unique login details and other information, received by servers, be used to build profiles of the
                    users or assessors concerned and to identify them.
                </p>
                <h3><a href="#purpose">PURPOSES OF DATA PROCESSING.</a>
                </h3>
                <p>The temporary storage of the IP address might be necessary to enable the site or app to be delivered
                    to the user’s device.

                </p>
                <p>The data is stored in log files to ensure the functionality of the site or app. For this reason the
                    IP address shall be stored for the duration of access.</p>
                <h3 id="cookies"><a href="#cookies">USAGE OF COOKIES
                    </a></h3>
                <p>The Toosie website uses cookies which are text files stored by the internet browser on the user or
                    assessors device or in the internet browser. Users or assessors of the app or site authentication
                    information and user interface settings are stored and transmitted in the cookies. Cookies are used
                    to make the use of our site and app easy while certain functions on both the app and the site cannot
                    be accessed without cookies. The cookies are also used for log-in functions and user interface
                    configuration. The user can deactivate or restrict the transmission of cookies by changing the
                    settings on the accessing device’s internet browser. Cookies can be erased automatically or manually
                    at any time but once deactivated, the usage of all functions on the site or app might not be
                    possible. For more on cookies, <a href="#cookies">please read our policy on cookies</a>.
                </p>
                <h3><a href="#reg">REGISTRATION </a></h3>
                <p>We offer users the opportunity to register by providing personal data. The data is transmitted to us
                    and saved. The data shall not be transmitted to third parties unless with the consent of the
                    provider.
                </p>
                <p>Data collected shall include E-mail address, password, the IP address of the user or assessor and the
                    date and time of registration.
                </p>
                <p>This registration is necessary for the fulfilment of the contract with the user or assessor of the
                    app or site. It is also necessary for the purpose of identifying the user or assessor by creating a
                    user account to enable participation. The data collected shall be erased once the user’s account is
                    erased. Any data that brings an obligation of storage attached to it due to tax, regulation, enacted
                    laws shall be erased after the legal retention and storage periods have lapsed.
                </p>
                <p>The user has the possibility to cancel the registration at any time. If data is required to fulfil an
                    obligation condition precedent or not or where there are legal storage obligations, premature
                    erasure of data shall be possible only to the extent that such obligations whether contractual or
                    legal do not prevent erasures. In our quest to serve our customers better, Toosie Pharmacy Limited
                    is dedicated to protecting your personal information and shall make every endeavour to handle
                    collected information appropriately. All information collected shall be handled with care in
                    accordance with the Nigeria Data Protection Regulation 2019 alongside our standards of integrity,
                    objectivity and respect for your privacy.
                </p>
                <p>This information applies to the processing of data on our site and app, the purposes of processing,
                    the recipients, legal bases, storage periods and your rights. Processing simply means collection,
                    use, storage, transmission.
                </p>
                <p>Within the registration for an account, you also have the possibility to give consent to receive
                    notifications by e-mail. You will receive notification like:</p>
                <ol>
                    <li>Medical products.
                    </li>
                    <li> Drug related information.
                    </li>
                    <li> New contents on the Site or App.
                    </li>
                    <li>Discount offers on drugs and other medical products though might include general everyday
                        products that are not strictly medical in nature.
                    </li>
                </ol>
                <p>You have the option to unsubscribe from notifications via e-mail at any time. If you revoke your
                    consent, we will no longer send you notifications. However we will store your email address and the
                    prove of your consent for a period of three years starting from when you revoked consent as evidence
                    in the event of dispute.
                </p>
                <h3><a href="#web_analytic">WEB ANALYSIS WITH GOOGLE ANALYTICS.
                    </a></h3>
                <p>Our website uses Google Universal analytics service of Google Inc. Google Universal Analytics uses
                    cookies to understand how users use the website. The information generated is transferred to Google
                    which in turn would evaluate the use of the website by users, to compile reports on the website’s
                    activities to enable the provision of further services to the user that are associated with the
                    website and the internet. The IP Address transmitted by your browser in the context of Google
                    Universal Analytics is not merged with other Google Data.
                </p>
                <p>Cookies are stored on the user or assessor’s device and transmitted to us from there. As the user or
                    assessor, you have total control over the use of cookies. You can deactivate or restrict the use of
                    cookies by changing the settings in your internet browser to stop accepting cookies or to prompt you
                    before accepting cookies. Where cookies are deactivated, it may not be possible to have access to
                    all functions.
                </p>
                <p> For further information on Google Universal Analytics especially as to terms of use and data
                    protection, use the link below:
                    <br> <a href="http://www.google.com/analytics/terms/de.html">
                        http://www.google.com/analytics/terms/de.html</a>
                </p>

                <h3><a href="#use_by_children">USE BY CHILDREN</a></h3>
                <p>Use of the Toosie site or app is not intended for minors but adults of the age of eighteen. We hereby
                    state that we do and would not knowingly collect information from persons below the age of eighteen.
                </p>
                <h3><a href="#third_party">THIRD PARTY WEBSITES
                    </a></h3>

                <p>In your interactions with the site or app, you will have the option to be linked to or directed to or
                    might get the option of clicking on a third party website. If this occurs, we cannot control
                    information you might provide to such third party and we are not responsible for the usage, storage
                    or disclosure of such information once you have provided them to these third parties. We strongly
                    advice that you exercise caution before providing such personal information.
                </p>
                <h3><a href="#change_to_policy">CHANGES TO THIS PRIVACY POLICY</a></h3>
                <p>Toosie may make changes from time to time on this privacy policy. This shall be usually done by
                    updating the page. Users are advised to visit the privacy policy page regularly to read the version
                    prevailing at the time. Notice of these changes shall be sent to you on the site home page or app or
                    might be sent to your email of record.
                </p>
                <p>For any difficulty with opting out of any of our services or options related to the application or
                    the website, please email us at <a href="mailto:privacy@toosie.com">privacy@toosie.com</a>
                </p>
                <h3><a href="#data_sec">DATA SECURITY
                    </a></h3>
                <p>We take the security of personal data deposited with us very seriously. We implement technical,
                    material and organisational measures adapted to the level of the sensitivity of the personal data,
                    in order to ensure the integrity and confidentiality of the data and to protect the data against any
                    malicious intrusion, loss, alteration or disclosure to unauthorised third parties. We carry out
                    regular checks to verify security rules are properly applied on an operational level. At the same
                    time, the security and confidentiality of personal data is to be ensured by us and the user or
                    assessor each playing its own part by we all applying good practices. Please remain vigilant on this
                    issue.
                </p>
                <h3><a href="right_accessor">RIGHTS OF THE USER OR ASSESSOR</a></h3>
                <p>All users of the app or assessors of the site enjoy the following rights;</p>
                <ul>
                    <li>A right to information
                    </li>
                    <li>A right to access
                    </li>
                    <li>A right to correction</li>
                    <li>A right to deletion (unless the data is required to enable us comply with our legal obligations
                        or to establish or exercise our rights)
                    </li>
                </ul>
                <p>In connection with the right of access, we might request the user or assessor to pay reasonable
                    charges based on the administrative costs for any additional copy of data to that provided.
                </p>
                <p>The user or assessor also enjoy;</p>
                <ul>
                    <li>A right to limitation of processing
                    </li>
                    <li>A right to portability of data provided</li>
                    <li>A right of opposition</li>
                </ul>
                <p>The user or assessor may seek to exercise the right to opposition to the processing of data for
                    reasons relating to the specific situation where that processing is based on our legitimate
                    interest.</p>
                <p>Where the above right of opposition is exercised, we shall cease to process unless there are
                    legitimate imperative reasons that prevail over the user or assessors interests, rights, liberties
                    expressly or implied by law or unless required for the establishment, exercise or defence of our
                    rights before the courts.
                </p>
                <p>The user or assessor may withdraw consent at any time, whenever consent has been requested
                    (withdrawal of consent will not affect the lawfulness of the processing carried out prior to the
                    withdrawal of such consent)</p>
                <p>Where there is an issue as to rights over data, we can be contacted at<a
                        href="mailto:privacy@toosie.com">privacy@toosie.com</a>
                </p>
            </div>

        </div>

    </div>
</section>
<!--Section ends-->
