<div class="container-fluid">
    <form (ngSubmit)="saveBlog()" [formGroup]="blogForm" class="row product-adding">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>General</h5>
                </div>
                <div  class="card-body">
                    <div class="digital-add needs-validation">
                        <div class="form-group">
                            <label for="validationCustom01" class="col-form-label pt-0"><span>*</span>Title</label>
                            <input class="form-control" id="validationCustom01" type="text" formControlName="blogTitle">
                            <div *ngIf="(blogTitle?.dirty || blogTitle?.touched) && blogTitle?.errors" class="errors">
                                <span *ngIf="blogTitle?.errors?.required">Title is required</span>
                                <span *ngIf="blogTitle?.errors?.category">Title is invalid</span>
                              </div>
                        </div>

                       
                        <div *ngIf="!showDropZone" class="card">
                            <img [src]="editBlog?.blogImage" alt="">
                            <div (click)="showDropZone = !showDropZone" *ngIf="editBlog?.blogImage" class="btn btn-primary mt-3">Replace Image</div>
                        </div>
                        <label *ngIf="showDropZone" class="col-form-label pt-0"> Blog Image Upload</label>
                        <div *ngIf="showDropZone" class="card-body dropzone-custom p-0">
                            <ngx-dropzone (change)="onSelect($event)">
                                <div class="dropzone dropzone-primary" style="border: none;">
                                <div class="dz-message needsclick">
                                    <i class="fa fa-cloud-upload"></i>
                                    <h4 class="mb-0 f-w-600">Drop Prescription here or click to upload.</h4>
                                </div>
                            </div>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Content</h5>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        <div class="form-group mb-0">
                            <div class="description-sm">
                                <!-- <textarea class="form-control" formControlName="blogContent" language="en"></textarea> -->
                                <ck-editor name="editor1" formControlName="blogContent" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-4">
                    <div class="product-buttons text-center">
                        <button [disabled]="!blogForm.valid" class="btn primary-btn">
                            Save Post
                            <div *ngIf="loading" class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                        </button>
                        <button type="button" class="btn btn-light">Discard</button>
                    </div>
                </div>
            </div>
            
         
        </div>
    </form>
</div>
