<button type="button" class="btn btn-secondary p-2 view-btn" data-toggle="modal" data-original-title="test"
    data-target="#exampleModal" (click)="open(content)">View Order</button>
<ng-template #content let-modal>

    <section class="theme-invoice-4 section-b-space">
        <div class="container">
            <div class="row">
                <div class="col mx-0">
                    <div class="invoice-wrapper">

                        <div class="invoice-body">
                            <div class="top-sec">
                                <div class="row">
                                    <div class=" col-md-6">
                                        <div class="address-detail">
                                            <div class="mt-2">
                                                <h4 class="mb-2">
                                                    {{order.shipping.address}},
                                                </h4>
                                                <h4 class="mb-2"> {{order.shipping.city}}</h4>
                                                <h4 class="mb-0">{{order.shipping.state}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-6">
                                        <ul class="date-detail">
                                            <li><span>order date :</span>
                                                <h4> {{order.createdAt | date}}</h4>
                                            </li>
                                            <li><span>Order no :</span>
                                                <h4> {{order._id.slice(0,6)}}</h4>
                                            </li>
                                            <li><span>Customer :</span>
                                                <h4> {{order.customerId.fullName}} | {{order.customerId.phone}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="title-sec">
                                <h2 class="title">order</h2>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="#" class="btn black-btn btn-solid" onclick="window.print();">export as
                                            PDF</a>
                                    </div>
                                    <div class="col-6 flex-right">
                                        <a href="#" class="btn btn-solid" onclick="window.print();">print</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-sec">
                                <div class="table-responsive-md">
                                    <table class="table table-borderless table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">description</th>
                                                <th scope="col">price</th>
                                                <th scope="col">qty.</th>
                                                <th scope="col">total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ord of order.products; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td>{{ord.title}}</td>
                                                <td>₦{{ord.actualPrice}}</td>
                                                <td>{{order.orderDetails[i].quantity}}</td>
                                                <td>₦{{ord.actualPrice * order.orderDetails[i].quantity}}</td>
                                            </tr>
                                            <tr >
                                                <th scope="row">-</th>
                                                <td>Delivery</td>
                                                <td>₦{{order.shipping.addressDeliveryCost}}</td>
                                                <td>-</td>
                                                <td>₦{{order.shipping.addressDeliveryCost}}</td>
                                            </tr>
                                      
                                        </tbody>
                                    </table>
                                    <small>Price may change due to discount</small>
                                </div>
                                <div class="text-end">
                                    <div class="table-footer">
                                        <span class="me-5 font-bold">Grand Total &nbsp;</span>
                                        <span class="font-bold">₦{{order.totalCost}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>
